body {
  padding-top: 50px;
  padding-bottom: 40px;
}

table tr td:last-child {
  text-align:center;
}

a {
  cursor: pointer;
  color:#a94442;
}

a:hover, a:focus {
  color:#FFF;
  text-decoration:none;
}

.cursor {
	cursor: pointer;
}

.center {
	text-align:center;
}

.left,
table tr td.left {
	text-align:left;
}

span.online {
	color:green;
}

span.offline {
	color:red;
}

.bs-glyphicons .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.panel-body table {
	margin:auto;
}

.panel-body table td:first-child {
    font-weight: bold;
    padding-right:10px;
}

.panel-body table td a.normal,
.panel-body table td a.normal:focus,
.panel-body table td a.normal:hover {
	color:#333;
}

/*** Bootstrap overlay***/
.navbar-logo {
  float:left;
}

.navbar-inverse {
  background-color:#A94442;
}

.navbar-inverse .glyphicon {
	color:white;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color:#FFF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color:#F2DEDE;
}

.row .sidebar {
  background-color:#F2DEDE;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color:#FFF;
  color:#a94442;
}

.row .nav-sidebar > .active > a,
.row .nav-sidebar > .active > a:hover,
.row .nav-sidebar > .active > a:focus {
  background-color:#a94442;
}

.glyphicon {
  color:#A94442;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color:#F2DEDE;
}

.table-striped tbody tr:nth-child(2n) td a:hover,
.table-striped tbody tr:nth-child(2n) td a:focus {
  color:#F2DEDE;
}

.bootstrap-dialog.type-primary .modal-header {
  background-color:#A94442;
}

@media (max-width: 767px) {
  .invisible-xs {
    display:none;
  }
  .display-xs {
    display:inline;
  }
}

@media (min-width: 768px) {
  .display-xs {
    display:none;
  }
}

/* SIGNIN */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  margin-bottom: 15px;
  text-align:center;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .alert {
	display:none;
}

.input-group {
	width:100%;
}

/* DASHBOARD */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size:15px;
}

@media (min-width: 768px) {
  .nav-sidebar > li.smenu > a {
    padding-left: 40px;
  }
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 767px) {
  .nav-sidebar > li > a {
    padding-right: 0px;
    padding-left: 0px;
    text-align:center;
  }
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar a .badge,
.nav-sidebar .active a:hover .badge,
.nav-sidebar .active a:focus .badge {
	background-color:white;
	color:#A94442;
}

.nav-sidebar a:hover .badge,
.nav-sidebar a:focus .badge {
	background-color:#A94442;
	color:white;
}

.nav-sidebar a .glyphicon {
  color:white;
}

.nav-sidebar .active a:hover .glyphicon,
.nav-sidebar .active a:focus .glyphicon {
  color:white;
}

.nav-sidebar a:hover .glyphicon,
.nav-sidebar a:focus .glyphicon {
  color:#A94442;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/** Vps list **/
#vpsAll {
	display:none;
}

/** VPS **/
#shell {
	
}

#shell-inner {
	
}

#shell-result {
  height:200px;
  overflow: auto;
  word-wrap: break-word;
}

#shell-cmd {
	
}

#shell-send {
	cursor : pointer;
}

#panel-backupschedule-add {
	display:none;
}
